/* default Ext.Msg.alert uses "dark" ui */
DIV.x-sheet.x-msgbox.x-msgbox-dark {
  background-image: -webkit-radial-gradient(top, 300% 100%, rgba(255,255,255,.5) 0%, rgba(245,245,245,.5) 10%, rgba(235,235,235,.4) 20%, rgba(20,30,120, 0.3) 21%, rgba(20,30,120, 0.3) 100%);
  border: 2px solid #eee;
  -webkit-border-radius: .5em;
}

DIV.x-sheet.x-msgbox.x-msgbox-dark .x-button.x-button-action {
   /*background-image: -webkit-linear-gradient(top,rgb(180,180,200) 0%,rgb(47,58,93) 50%, rgb(25,35,73) 51%, rgb(49,60,95) 100%);*/
   background-image: -webkit-linear-gradient(top,rgb(180,180,200) 0%,rgb(47,58,93) 50%, rgb(57,67,98) 51%, rgb(85,93,124) 100%);
   opacity: .8;
}

DIV.x-sheet.x-msgbox.x-msgbox-dark .x-button.x-button-normal {
   background-image: -webkit-linear-gradient(top,rgb(180,180,200) 0%,rgb(47,58,93) 50%, rgb(25,35,73) 51%, rgb(49,60,95) 100%);
   border: 1px solid black;
   opacity: .8;
}

DIV.x-sheet.x-msgbox.x-msgbox-dark .x-button SPAN.x-button-label {
  opacity: 1;
  font-weight: bold;
  color: white;
  text-shadow: none;
  font-size: 16px;
}